<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlz.dao.PermissionDao">
    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into permission(name,expression) values(#{name},#{expression})
    </insert>

    <delete id="delete">
        delete from permission where id = #{id}
    </delete>

    <select id="listAll" resultType="com.wlz.entity.Permission" >
        select * from permission
    </select>

    <sql id="where_sql">
        <where>

        </where>
    </sql>
    <select id="queryByConditionCount" resultType="long">
        select count(*) from permission
        <include refid="where_sql"/>
    </select>
    <select id="queryByCondition" resultType="com.wlz.entity.Permission">
        select * from permission
        <include refid="where_sql"/>
        limit #{start},#{pageSize}
    </select>

    <select id="selectByRoleId" resultType="com.wlz.entity.Permission">
        select * from permission where id in (
        select permission_id from role_permission where role_id = #{id}
        )
    </select>
    <select id="selectByEmployeeId" resultType="com.wlz.entity.Permission">
        select * from permission where id in (
        select permission_id from role_permission where role_id in(
        select role_id from employee_role where employee_id = #{employeeId}
        )
        )
    </select>
</mapper>